.category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3%;
    row-gap: 5%;
}

.category-title-container {
    font-size: 28px;
    margin-bottom: 35px;

    text-align: center;
}
